* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: #6F9A8D;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 1fr auto; 
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  }

  .menu-icon:hover {
    color: rgb(226, 94, 94);
    text-shadow: 0 0 10px rgb(235, 86, 16);
  }

#menuList {
    display: flex;
}


.navbar {
  background-color: #CD908D;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 25px; 
  box-sizing: border-box;
  margin: 0;
}
.navbar ul {
  list-style: none;
  display: flex;
  font-weight: 700;
  gap: 35px; 
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 35px; 
  font-weight: bold;
}
.navbar a:hover {
  color: whitesmoke;
}
.navbar #logo {
  font-weight: bold;
  font-size: 40px; 
}
   
.image-section {
  grid-column: 1/5;
  text-align: center;
  margin: 0 auto;
  padding: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-section img {
  width: 250px;
  height: 250px; 
  border-radius: 50%;
  object-fit: cover;
}
.text-section {
  grid-column: 5/10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
}
.text-section ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  width: 100%;
}

.text-section .intro{
    font-style:italic;
    font-size:29px;
  color: white;
  text-align: center;
}



.text-section .name {
  font-size: 55px; 
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.text-section .role {
  font-style: italic;
  font-size: 29px; 
  font-weight: 400;
  color: #f1f1f1;
  margin-bottom: 20px;
  text-align: center;
}
.text-section .quote {
  font-style: italic;
  color: white;
  font-size: 30px; 
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  margin-top: 45px;
}
.footer {
  grid-column: 1/10;
  height: 10vh; 
}
 