@media (max-width: 990px) {
  .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto;
  }
  .navbar {
    padding: 50px 40px;
  }
  .navbar ul {
    gap: 20px;
  }

.menu-icon {
    display: block;
    font-size: 45px;

}

#menuList {
    display: none;
    position: absolute;
    top: 120px;
    right: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    padding: 15px 0;
    width: 220px;
    text-align: center;
    transition: all 0.4s ease;
    z-index: 20;
  }


#menuList.active{
    display: flex;
}

  .navbar a {
    font-size: 25px;
  }

  .navbar a:hover {
    color:aqua;
    text-shadow: 0 0 12px aquamarine, 0 0 25px azure;
  }

  .navbar #logo {
    font-size: 45px;
  }
  .image-section {
    grid-column: 1/11;
    padding:75px 0 30px 0;
  }
  .image-section img {
    width:200px;
    height:200px;
  }
  .text-section {
    grid-column: 1;
    padding: 20px;
  }

.text-section .intro{
    font-size:29px;
    text-align: center;
}


  .text-section .name {
    font-size: 50px;
    text-align: center;
  }
  .text-section .role {
    font-size: 29px;
  }
  .text-section .quote {
    font-size: 25px;
    margin-top: 30px;
  }
  .footer {
    height: 0;
  }
}

@media (max-width: 750px) {
  .navbar ul {
    gap: 10px;
  }
  .image-section img {
     width:190px;
    height:190px;
  }

.text-section .intro{
    font-size:20px;
}

  .text-section .name {
    font-size: 40px;
  }
  .text-section .role {
    font-size: 1rem;
  }
  .text-section .quote {
    font-size: 25px;
  }

.text- section .birth {
  text-align: center;
font-size : 25px;
}

.text-section .age{
  font-size: 20px;
}







}